* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #f8f1f4;
    --sidebar-color: #FFF;
    --primary-color: #ef5fa4;
    --primary-color-light: #f8f1f4;
    --toggle-color: #DDD;
    --text-color: #707070;
    --thead-border: #5c5c5c5b;
    --td-border-color: #5c5c5c1c;
    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection {
    background-color: var(--primary-color);
    color: #fff;
}

body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    width: 120px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

/* =========================== */
.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 60px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar li a.active-link {
    background-color: var(--primary-color);
}

.sidebar li a.active-link .icon,
.sidebar li a.active-link .text {
    color: var(--sidebar-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.menu-bar .nav-link {
    scroll-snap-type: proximity;
    scroll-behavior: smooth;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before {
    left: 20px;
}

.home {
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: fit-content;
    overflow-x: hidden !important;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close~.home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text,
body.dark .header-homepage,
body.dark .user-data,
body.dark .orderData-Section {
    color: var(--text-color);
}

.myFlex-intro,
.admin-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myFlex-intro {
    padding: 0px 5px !important;
}

.admin-profile {
    position: relative;
    right: 20px;
    background-color: var(--sidebar-color);
    padding: 5px;
    height: 50px;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #3a3b3c63;
}

.admin-profile img {
    width: 30px !important;
    margin: 0 8px;
    border-radius: 50%;
}

.admin-profile h5 {
    font-weight: normal;
    color: var(--text-color);
    font-size: 1em;
    margin-top: 9px;
    margin: 0 5px;
}

.header-homepage {
    margin: 0 60px !important;
    padding: 15px 30px;
    width: 93.1%;
    height: 340px;
    background-color: var(--sidebar-color);
    transition: var(--tran-05);
    border-radius: 6px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 1px 1px 3px #3a3b3c63;
    align-items: center;
}

.header-homepage img {
    width: 360px;
    shape-rendering: geometricPrecision;
    background: radial-gradient(circle at center, #ef5fa45e 63%, #ffffff00 50%);
}

.sub-greet img {
    background: none;
}

.header-homepage .greetings h2 {
    font-family: 'poppins', serif;
    text-transform: capitalize;
    font-size: 2.5em;
    color: var(--text-color);
}

.header-homepage .greetings h3 {
    color: var(--text-color);
    font-size: 3.3em;
}

.greetings p {
    color: var(--text-color);
    font-size: 1.3em;
}

.greetings .time-title {
    font-size: 1em;
    color: var(--text-color);
    margin-bottom: -8px;
}

.user-data {
    padding-left: 45px;
    width: 103%;
    position: relative;
    background-color: var(--body-color);
    transition: var(--tran-03);
}


.user-data h1,
.orderData-Section h2 {
    font-family: 'poppins', serif;
    font-size: 2.1em;
    margin: 18px;
    text-align: left;
    color: var(--text-color);
}


.user-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--sidebar-color);
    width: 31%;
    height: 110px;
    margin: 7px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 1px 1px 3px #3a3b3c63;
}


.user-box:hover {
    transform: scale(1.05);
}

.user-box .userPfp img {
    width: 80px;
    border-radius: 50%;
}

.user-box .userInfo-Section h4 {
    font-size: 1em;
    margin: 0;
}

.user-box .userInfo-Section p {
    font-size: 0.9em;
    margin: 0;
}

.container-fluid {
    width: 100%;
}

.orderData-Section {
    padding-left: 60px;
    width: 103%;
    position: relative;
    background-color: var(--body-color);
    transition: var(--tran-03);
}

#orders-placed h2 {
    position: relative;
    left: -15px;
}


/* EDIT USER FORM */

.FormSection {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--body-color);
}

.FormSection .backButton {
    position: relative;
    right: 33%;
    top: 70px;
}

form {
    width: 80%;
    background-color: var(--sidebar-color);
    padding: 30px;
    border-radius: 6px;
}

.edit-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-custom {
    background-color: var(--primary-color) !important;
    color: var(--sidebar-color) !important;
    font-family: 'poppins', serif !important;
    font-size: 0.9em !important;
}

.btn-custom:hover {
    border: 2px solid var(--primary-color) !important;
    background-color: var(--sidebar-color) !important;
    color: var(--text-color) !important;
}

.form-control {
    background-color: var(--body-color) !important;
    border: none !important;
    border-bottom: 2px solid var(--primary-color) !important;
}


.formBox {
    padding: 0px;
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.myInputFlex {
    width: 70% !important;
}

:disabled {
    background-color: var(--toggle-color) !important;
}

/* ORDER CSS */

table {
    width: 96%;
    background-color: var(--sidebar-color);
    padding: 10px !important;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    /* Adjust the value as needed */
    overflow: hidden;
    box-shadow: 1px 4px 4px var(--thead-border);
}


th,
td {
    background-color: var(--sidebar-color);
    padding: 10px !important;
    text-align: center !important;
}

td {
    border-bottom: 1px solid var(--td-border-color) !important;
    display: table-cell;
    vertical-align: middle;
    font-size: 0.95em !important;
}

th {
    padding: 30px !important;
    border-bottom: 1px solid var(--thead-border) !important;
    display: table-cell;
    /* Ensure elements are displayed as table cells */
    vertical-align: middle;
    font-weight: normal !important;
}

td i {
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-size: 0.9em;
}

.dropdown-menu {
    position: relative;
    right: 5% !important;
}

.status-cell span {
    color: #ffb005;
    background-color: #fbcc304d;
    padding: 5px 13px;
    font-size: 0.9em;
    border-radius: 25px;
    text-transform: capitalize;
}

.completed span {
    color: #5cb85c;
    background-color: #5cb85c4d;
    padding: 5px 13px;
    font-size: 0.9em;
    border-radius: 25px;
    text-transform: capitalize;
}

.incomplete span {
    color: #00afc7;
    background-color: #00afc74d;
    padding: 5px 13px;
    font-size: 0.9em;
    border-radius: 25px;
    text-transform: capitalize;
}

.mybtnflexer .btn-outline-success,
.mybtnflexer .btn-outline-info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em !important;
    border-radius: 40px !important;
}


#responseCell button, .modal-content button {
    padding: 6px 13px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: #fff;
    box-shadow: 1px 2px 3px #3a3b3c42;
}

#responsCell .responded {
    color: #5cb85c;
    background-color: #5cb85c4d;
    padding: 5px 13px;
    font-size: 0.9em;
    border-radius: 25px;
    text-transform: capitalize;
}

.modal {
    display: none; /* Hide the modal by default */
    position: fixed; /* Position the modal */
    top: 0; /* Align the modal to the top of the viewport */
    left: 0; /* Align the modal to the left of the viewport */
    width: 100%; /* Make the modal cover the entire width of the viewport */
    height: 100%; /* Make the modal cover the entire height of the viewport */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background color */
    z-index: 999; /* Ensure the modal appears on top of other elements */
    overflow: auto; /* Allow scrolling if the content exceeds the viewport */
}

.modal-content {
    background-color: #fff; /* Background color for the modal content */
    margin: 10% auto; /* Center the modal vertically and horizontally */
    padding: 20px; /* Add padding to the modal content */
    border-radius: 8px; /* Rounded corners for the modal */
    max-width: 80%; /* Set maximum width for the modal content */
}

.modal-content .close {
    position: absolute; /* Position the close button */
    top: 10px; /* Align the close button to the top of the modal */
    right: 10px; /* Align the close button to the right of the modal */
    cursor: pointer; /* Add cursor pointer on hover */
}


.modal-content .close p {
    margin: 0; /* Remove default margin */
    font-size: 24px; /* Adjust font size for the close button */
}
.modal-content textarea{
    border: none !important;
    background-color: var(--body-color);
    font-size: 1em;
    padding: 8px !important;
}

.modal-content textarea:focus{
    outline: none !important;
}

